@import "tailwindcss";

body {
  min-height: 100dvh;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.input-color {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  border-radius: 9999px;
  border-width: 1px;
  padding: 0
}

.input-color::-webkit-color-swatch {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 9999px;
  border-width: 1px;
  padding: 0;
  opacity: 0
}

.input-color::-moz-color-swatch {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  cursor: pointer;
  -moz-appearance: none;
  appearance: none;
  border-radius: 9999px;
  border-width: 1px;
  padding: 0;
  opacity: 0
}

.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
